@import "../blocks/_header.css";
@import "../blocks/_advantages.css";
@import "./blocks/_guarantee.css";
@import "./blocks/_calc.css";
@import "./blocks/_about.css";
@import "./blocks/_instagram.css";
@import "./blocks/_service.css";
@import "./blocks/_footer.css";

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.none {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.container {
  position: center;
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* .container-wide {
  width: 1536px;
} */
.btn {
  display: inline-block;
  background-color: #eb5c0f;
  padding: 13px 38px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover {
  background-color: rgba(235, 92, 15, 0.479);
  transition: color 0.2s ease;
  border: 1px solid wheat;
}
.no-scroll {
  overflow: hidden;
}
.img {
  object-fit: cover;
  border-radius: 5px;
  border: black 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
