@import "./blocks/_header.css";
@import "./blocks/_advantages.css";
@import "./blocks/_guarantee.css";
@import "./blocks/_calc.css";


.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  
}
.none {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.container {
  position: center;
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* .container-wide {
  width: 1536px;
} */

.btn {
  display: inline-block;
  background-color: #eb5c0f;
  padding: 13px 38px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}
.no-scroll {
  overflow: hidden;
}
