.about {
  padding: 150px 135px;
}

.about__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 60px;
}
.about__text {
  max-width: 510px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #242424;
}
.about__img-wrapper {
  margin: 0 auto;
}
.about__img {
  max-width: 508px;
  height: 100%;
  object-fit: cover;
  max-width: 100%;

  /* clip-path: circle(42%); */
  /* position: absolute;
  top: -37px;
  right: 114px;
  overflow: hidden; */
}
@media (max-width: 768px) {
}
@media (max-width: 430px) {
  .about {
    padding: 20px 13px;
  }
  .about__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}


