.calculation {
  padding: 60px 0;
  background-color: #242424;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.calc_form {
  max-width: 1200px;
  max-height: 100%;
}
/* .calc  {
  margin-left: 90px;
} */
.calc_form select {
  padding-right: 20px;
}
.calc:hover {
  background-color: #eb5c0f;
}

.descr {
  margin: 15px 0 50px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.calc {
  background-color: #242424;
  color: white;
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 270px;
  height: 40px;
  padding-left: 15px;
}
.calc_dlina {
  margin-right: 190px;
}
.calc_dlina::after {
}

.calc_shir {
  margin-right: 190px;
}

.result_calc {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.div_res {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 270px;
}
.div_res-first {
  margin-top: 40px;
}
.div_res + * {
  margin-top: 40px;
}
.div_res-last {
  margin-right: 346px;
}
.opis_res {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.input_res {
  background-color: #242424;
  color: white;
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.kirp {
  max-width: 99px;
  max-height: 38px;
}

.desc_calc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.53);
}

/** Adaptive **/

@media (max-width: 768px) {
  .calculation {
    padding: 60px 11px;
  }
  .calc {
    width: 170px;
  }
  .calc_dlina {
    margin: 0 70px 0 20px;
  }
  .calc_shir {
    margin-right: 70px;
  }
  .result_calc {
    margin: 0 38px 48px 20px;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
  }
  .descr {
    margin: 15px 0 40px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .calc {
    width: 350px;
  }

  .calc_shir {
    margin: 15px 0 0 20px;
  }
  .calc_visota {
    margin: 15px 0 0 20px;
  }
  .result_calc {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .input_res {
    padding-left: 10px;
    margin-left: 110px;
  }
  .kirp {
  }
  .mosh_k {
    /* margin-left: 144px; */
  }
  .mosh_v {
  }
  .plosh {
    /* margin-left: 103px; */
  }
  .massa {
  }

  .div_res {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 350px !important;
  }
  .div_res-last {
    margin-right: 0;
  }
  .opis_res {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .calc {
    width: 300px;
  }
  .input_res {
    margin-left: 103px;
    margin-left: 50px;
  }
  .div_res {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 300px !important;
  }
  /* .plosh {
    margin-left: 67px;
  } */
  .input_res.kirp {
    margin-left: 95px;
  }
}
