.footer {
  background-color: #242424;
}

.footer__title {
  padding: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__top {
  padding-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.footer__img {
  margin-right: 130px;
  min-width: 570px;
  object-fit: cover;
}
.footer__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.footer__btn {
  position: absolute;
  top: 50%;
  right: 20%;
}

.footer__bottom {
  padding: 30px 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer__phone {
  /* max-width: 160px; */
}
.footer__phone-link {
  color: #ffffff;
}
.footer__title-bottom {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 41px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}

.social__title {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 41px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}
.insta__btn-link {
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }
  .footer__top {
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }
  .footer__title {
    padding-bottom: 40px;
  }
  .footer__text {
    margin-bottom: 140px;
    text-align: center;
  }
  .footer__img {
    margin: 0;
  }
  .footer__btn {
    top: 20%;
    right: 31%;
  }
  .footer__bottom {
    padding: 30px 54px 40px;
  }
}
@media (max-width: 430px) {
  .footer {
    padding: 0 15px;
  }
  .footer__title {
    font-size: 20px;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__btn {
    padding: 12px 15px !important;
    font-size: 14px;
    top: 30%;
    right: 22%;
  }
  .footer__img {
    max-width: 100%;
  }
  .footer__bottom {
    padding: 20px 10px 40px;
  }
  .footer__title-bottom {
    font-size: 15px;
  }
  .social__title {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 0 15px;
  }
}
