.header {
  background-image: url(/img/Header/Bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header__top {
}
.nav {
  padding: 23px 135px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__log {
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
}
.nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.nav__phone {
}
