.instagram {
  padding: 0px 135px;
}
.container {
}
.insta__title {
  padding-bottom: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}
.insta__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 30px 30px;
}
.insta__link {
}
.insta__img {
  max-width: 370px;
  max-height: 370px;
  object-fit: cover;
}
.btn__wrapper {
  position: relative;
}
.insta__btn {
  margin-top: 40px ;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate( 50% 0 );
  -webkit-transform: translate( 50% 0 );
  -moz-transform: translate( 50% 0 );
  -ms-transform: translate( 50% 0 );
  -o-transform: translate( 50% 0 );
}
.insta__btn-link {
  color: #ffffff;
}
